body {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-transform: uppercase;
}
main {
    position: relative;
    perspective: 1000px;
}
main:hover #innerMain {
    transform: rotateY(-180deg);
}
#innerMain {
    position: absolute;
    border: 1px solid;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}
main > article {
    position: absolute;
    backface-visibility: hidden;
}
.bar {
    background-color: gray;
    border-radius: 20px;
    height: 20px;
    width: 200px;
}
#viewSigma {
    transform: rotateY(180deg);
}
.poinBar {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    width: var(--poin-width, 0);
    transition: 1s ease 0.3s;
}